@font-face {
    font-family: 'IBM Plex Sans Condensed';
    src: url('../fonts/IBMPlexSansCond.woff2') format('woff2'),
        url('../fonts/IBMPlexSansCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lineal';
    src: url('../fonts/Lineal.woff2') format('woff2'),
        url('../fonts/Lineal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background: linear-gradient(to right, #414522 7.29%, #C38E64 54.17%, #8C3E0D 100%);
    background-size: 5690px ;
    width: 5690px;
    height: 1024px;
}

#circle {
    position: relative;
    width: 432px;
    height: 432px;
    border-radius: 500px;
    background-color: #C38E64;
    left: 402px;
    bottom: 450px;
}
h1 {
    font-family: 'Lineal';
    font-size: 130px;
    color: white;
    font-weight: normal;
    margin-top: 200px;
    margin-left: 163px;
    position: relative;
    z-index: 10;
}
.photostext {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 1 / 5 / 4; }
    .div2 { grid-area: 1 / 5 / 3 / 7; }
    .div3 { grid-area: 4 / 5 / 6 / 7; }
    .div4 { grid-area: 1 / 8 / 3 / 12; }
    .div5 { grid-area: 4 / 9 / 6 / 11; }
    .div6 { grid-area: 2 / 13 / 5 / 16; }
    .div7 { grid-area: 1 / 17 / 3 / 19; }
    .div8 { grid-area: 4 / 17 / 6 / 21; }
    .div9 { grid-area: 1 / 20 / 3 / 22; }
    .div10 { grid-area: 4 / 22 / 6 / 24; }
    .div11 { grid-area: 2 / 24 / 5 / 27; }

p {
    font-family: 'IBM Plex Sans Condensed';
    font-size: 30px;
    font-style: normal;
}
.div2 {
    height: 269px;
    width: 290px;
}
